<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParentalControlSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ParentalControlSystem.Properties.Settings>
            <setting name="OnOff" serializeAs="String">
                <value>On</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Computer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Internet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Network" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Keywords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowUseComputer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDate" serializeAs="String">
                <value>2023-11-09</value>
            </setting>
            <setting name="hh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mm" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="mm2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="hh2" serializeAs="String">
                <value>60</value>
            </setting>
        </ParentalControlSystem.Properties.Settings>
    </userSettings>
</configuration>